body {
    background-image: url("https://cdn.inspirationhut.net/wp-content/uploads/2013/05/201.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.detailDiv {
    background-color: #030645;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    margin-top: 100px;
    align: "center";
    margin: auto;
    font-size: 50px;
    border: 8px;
    color: white;
    border-style: solid;
    border-color:black;
}

.firstSentence {
    font-family: sans-serif;
}

div{
    vertical-align:middle;
    
}

body{
    height:100%;
}

.perVal{
    font-size: 80px;
    text-align: center;
}